[user]
  name = Matej Urbas
  email = matej.urbas@gmail.com
[alias]
  st = status
  ci = commit
  co = checkout
  fa = fetch --all --prune
  br = branch
[core]
  autocrlf = input
  pager = delta
  excludesFile = ~/.gitignore
[interactive]
  diffFilter = delta --color-only
[merge]
  tool = vimdiff
  conflictStyle = zdiff3
[push]
  default = simple
[pull]
  ff = only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  navigate = true
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow box
[rerere]
  enabled = true
[init]
	defaultBranch = main
